@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------ Theme ------------ */
.theme-logo {
  mask-image: linear-gradient(
    60deg,
    black 25%,
    rgba(0, 0, 0, 0.2) 50%,
    black 75%
  );
  mask-size: 400%;
  mask-position: 0;

  &:hover {
    mask-position: 100%;
    transition:
      mask-position 1s ease,
      -webkit-mask-position 1s ease;
  }
}

/* ------------ Home ------------ */
.home {
  section {
    @apply container max-w-6xl flex-1 flex-col items-center p-20 text-center;
    /* @apply container flex max-w-6xl flex-col items-center p-20 text-center; */
  }
  h2 {
    @apply mb-8 text-balance text-3xl font-extrabold lg:text-4xl;
  }
  p {
    @apply w-full text-base font-normal text-slate-500 dark:text-slate-50 lg:text-lg/8;
  }
}

.home-table {
  @apply relative overflow-x-auto rounded-lg shadow-md;
}

.home-table {
  table {
    @apply w-full text-left text-sm text-gray-500 dark:text-gray-400 rtl:text-right;
  }
  thead {
    @apply bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400;
  }
  thead > tr > th {
    @apply px-6 py-3 text-primary text-sm;
  }
  tbody > tr {
    @apply border-b odd:bg-white even:bg-gray-50 dark:border-gray-700 odd:dark:bg-gray-900 even:dark:bg-gray-800;
  }
  tbody > tr > th {
    @apply whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white;
  }
  tbody > tr > td {
    @apply px-6 py-4;
  }
}

.edition-table {
  td {
    @apply border border-slate-700 px-4 py-2 text-center text-gray-600;
  }
}

/* ------------ Docs ------------ */

.changelog {
  h1 {
    @apply text-4xl font-bold text-gray-900 mt-10 mb-10
  }
  a {
    @apply hover:text-primary hover:underline
  }
}

.changelog-table {
  table {
    @apply w-full text-left text-sm text-gray-500 dark:text-gray-400 rtl:text-right mt-10;
  }
  thead {
    @apply bg-gray-50 text-xs text-gray-700 dark:bg-gray-700 dark:text-gray-400;
  }
  thead > tr > th {
    @apply px-6 py-3 text-primary text-sm;
  }
  tbody > tr {
    @apply border-b odd:bg-white even:bg-gray-50 dark:border-gray-700 odd:dark:bg-gray-900 even:dark:bg-gray-800;
  }
  tbody > tr > th {
    @apply whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white;
  }
  tbody > tr > td {
    @apply px-6 py-4;
  }
}

/* ------------ Public ------------ */

::selection {
  @apply bg-primary/60
}


.docs {
  main > p {
    @apply mb-2;
  }
  .steps {
    img {
      @apply mt-2 mb-2;
    }
    ul {
      @apply mt-3;
      list-style-type: circle;
    }
    pre {
      @apply overflow-x-auto whitespace-pre-wrap break-words max-w-full bg-gray-100 rounded-md;
    }
    p {
      @apply mt-0;
    }
  }
}