@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
  @apply bg-white dark:bg-[#111111] !important;
}

pre {
  @apply border dark:border-gray-700 bg-[#F6F8FA] dark:bg-[#161B22] !important;
}

/* 给滚动条轨道设置背景色和圆角 */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;               /* 滚动条宽度 */
  height: 8px;              /* 横向滚动条高度 */
  border-radius: 8px;       /* 圆角 */
  background: transparent;  /* 轨道背景（可换色） */
}

/* 滚动条滑块 */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4); /* 颜色 */
  border-radius: 8px;      /* 圆角 */
  border: 2px solid transparent; /* 内边距，制造悬浮感 */
  background-clip: content-box;
  transition: background-color 0.3s;
}

/* 滚动条滑块 hover 效果 */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.7);
}

/* Firefox 滚动条样式 */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
}

.custom-scrollbar:hover {
  scrollbar-color: rgba(100, 100, 100, 0.7) transparent;
}


/* ------------ Theme ------------ */
.theme-logo {
  mask-image: linear-gradient(
    60deg,
    black 25%,
    rgba(0, 0, 0, 0.2) 50%,
    black 75%
  );
  mask-size: 400%;
  mask-position: 0;

  &:hover {
    mask-position: 100%;
    transition:
      mask-position 1s ease,
      -webkit-mask-position 1s ease;
  }
}

/* ------------ Home ------------ */
.home {
  section {
    @apply container max-w-6xl flex-1 flex-col items-center p-20 text-center;
  }
  h2 {
    @apply mb-8 text-balance text-2xl font-extrabold lg:text-3xl;
  }
  p {
    @apply w-full text-base font-normal text-slate-700 dark:text-slate-50 lg:text-lg/8;
  }
}

.home-table {
  @apply relative overflow-x-auto rounded-lg;
}

.home-table {
  @apply rounded-lg border border-gray-400 dark:border-gray-500;
  table {
    @apply w-full text-left text-sm text-gray-500 dark:text-gray-400 rtl:text-right;
  }
  thead {
    @apply text-xs text-gray-700  dark:text-gray-400;
  }
  thead > tr > th {
    @apply px-6 py-3 text-primary text-sm border-b dark:border-gray-700;
  }
  tbody > tr {
    @apply border-b;
  }
  tbody > tr {
    @apply dark:border-gray-700;
  }
  tbody > tr > th {
    @apply whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white;
  }
  tbody > tr > td {
    @apply px-6 py-4 text-gray-800 dark:text-gray-300;
  }
}

.edition-table {
  td {
    @apply border border-slate-700 px-4 py-2 text-center text-gray-600;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 4px 4px theme(colors.indigo.500 / 0.8);
  }
  100% {
    box-shadow: 0 0 3px 3px theme(colors.primary / 0.9);
  }
}

.glow-effect {
  animation: glow 1s infinite alternate;
}

/* ------------ Docs ------------ */

.changelog {
  h1 {
    @apply text-4xl font-bold text-gray-900 mt-10 mb-10
  }
  a {
    @apply hover:text-primary hover:underline
  }
}

.changelog-table {
  table {
    @apply w-full text-left text-sm text-gray-500 dark:text-gray-400 rtl:text-right mt-10;
  }
  thead {
    @apply bg-gray-50 text-xs text-gray-700 dark:bg-gray-700 dark:text-gray-400;
  }
  thead > tr > th {
    @apply px-6 py-3 text-primary text-sm;
  }
  tbody > tr {
    @apply border-b odd:bg-white even:bg-gray-50 dark:border-gray-700 odd:dark:bg-gray-900 even:dark:bg-gray-800;
  }
  tbody > tr > th {
    @apply whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white;
  }
  tbody > tr > td {
    @apply px-6 py-4;
  }
}

/* ------------ Public ------------ */

/* ::selection { */
  /* @apply bg-primary/60 */
/* } */

.docs {
  aside {
    @apply md:w-80;
    ul {
      li.active > a {
        @apply text-primary font-normal dark:text-primary bg-[#F4F5F7] dark:bg-[#1B1F23];

      }
      li {
        a {
          @apply text-black dark:text-white;
        }
        
        button {
          @apply text-black dark:text-white;
        }
      }
    }
  }
  article p {
    @apply text-black dark:text-white;
  }

  article pre {
    @apply overflow-x-auto whitespace-pre-wrap break-words max-w-full bg-gray-100 rounded-md;
  }

  ul {
    @apply mt-2 text-base list-disc;

    li {
      @apply mt-0 mb-2;
    }

  }
  .steps {
    img {
      @apply mt-2 mb-2;
    }
    ul ul {
      list-style-type: circle
    }
    p {
      @apply mt-0;
    }
  }
  code {
    @apply text-primary bg-white dark:bg-[#111111] border-[#E5E7EB] dark:border-[#292929];
  }
  table {
    thead {
      tr {
        th {
          @apply font-semibold text-sm;
        }
      }
    }
    tbody {
      tr {
        @apply bg-white odd:bg-white even:bg-white dark:odd:bg-[#111111] dark:even:bg-[#111111];
      }
    }
  }
}