@tailwind base;
@tailwind components;
@tailwind utilities;


/* Theme */
.theme-logo {
  mask-image: linear-gradient(
    60deg,
    black 25%,
    rgba(0, 0, 0, 0.2) 50%,
    black 75%
  );
  mask-size: 400%;
  mask-position: 0;

  &:hover {
    mask-position: 100%;
    transition:
      mask-position 1s ease,
      -webkit-mask-position 1s ease;
  }
}

/* Home */
.home {
  section {
    @apply text-center flex flex-col container p-20 items-center max-w-6xl;
  }
  h2 {
    @apply text-3xl lg:text-4xl mb-8 text-balance font-extrabold;
  }
  p {
    @apply text-base lg:text-lg/8 text-slate-500 font-normal w-full dark:text-slate-50;
  }

}

.home-table {
  @apply relative overflow-x-auto mx-auto shadow-md sm:rounded-lg
}

.home-table {
  table {
    @apply w-full min-w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400
  }
  thead {
    @apply text-xs text-white uppercase bg-primary dark:bg-primary
  }
  thead > tr > th {
   @apply px-6 py-3 text-sm
  }
  tbody > tr {
    @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700

  }
  tbody > tr > th {
    @apply text-base px-6 py-4 font-medium text-gray-800 whitespace-nowrap dark:text-white
  }
  tbody > tr > td {
    @apply px-6 py-4 dark:text-slate-300 text-gray-600 text-base
  }
}

.edition-table {
  td {
    @apply border border-slate-700 px-4 py-2 text-gray-600 text-center
  }
}

/* Docs */
::selection {
  @apply bg-primary/60 dark:bg-primary;
}

/* Global */