@tailwind base;
@tailwind components;
@tailwind utilities;


.nextra-logo {
  mask-image: linear-gradient(
    60deg,
    black 25%,
    rgba(0, 0, 0, 0.2) 50%,
    black 75%
  );
  mask-size: 400%;
  mask-position: 0;

  &:hover {
    mask-position: 100%;
    transition:
      mask-position 1s ease,
      -webkit-mask-position 1s ease;
  }
}
.conf-block {
  @apply py-14 lg:py-24;
}

.index .what-jumsperver {
  p {
    @apply text-lg lg:text-xl/9 mb-5 max-w-2xl;
  }

  h2 {
    @apply text-3xl lg:text-5xl font-bold mb-10 text-balance;
  }

  pre {
    @apply bg-white;
  }
}
.index-button {
  @apply border border-current rounded-md transition-colors py-2.5 px-6;

  &:hover,
  &:focus {
    @apply bg-primary border-transparent text-white;
  }
}


.apiIndex li a:hover::before {
  @apply text-primary;
  content: "#";
  font-size: 16px;
  left: -2em;
  line-height: 20px;
  position: absolute;
}

::selection {
  @apply bg-primary/50 dark:bg-primary;
}
