/* ========== Print Optimizations ========== */
@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  
  body {
    font-size: 10pt;
  }
  
  h1 {
    font-size: 22pt;
  }
  
  h2 {
    font-size: 18pt;
  }
  
  a[href]:after {
    content: none;
  }
}
